{% extends "sign_upLayout.html"%}
{%block content%}
<main class="form-signin w-100 m-auto">
    <img src="https://cdn-icons-png.flaticon.com/512/3533/3533271.png" height=50px alt="">
    <h1 class="h3 mb-3 fw-normal">SignUp for Health Lab</h1>
    <!-- DISPLAYS ERROR MESSAGE IF DATA PROVIDED IN FORM IS INAVALID -->
    {%with messages = get_flashed_messages(with_categories=true)%}
    {% if messages%}
    {% for category, message in messages%}
    <div class="alert alert-{{category}}">
        {{message}}
    </div>
    {%endfor%}
    {%endif%}
    {%endwith%}
    {{form.hidden_tag()}}
    <div>

        {{ form.email.label(class="form-control middle")}}
        {%if form.email.errors%}
        {{form.email(class="form-control middle is-invalid")}}
        <div class="invalid-feedback">
            {%for error in form.email.errors%}
            <span>{{error}}</span>
            {%endfor%}
        </div>
        {%else%}
        {{form.email(class="form-control middle")}}
        {%endif%}

    </div>
    <div>

        {{ form.password.label(class="form-control bottom")}}

        {%if form.password.errors%}
        {{form.password(class="form-control bottom is-invalid")}}
        <div class="invalid-feedback">
            {% for error in form.password.errors%}
            <span>{{error}}</span>
            {%endfor%}
        </div>
        {%else%}
        {{form.password(class="form-control bottom")}}
        {%endif%}

    </div>
    {{form.submit(class="w-100 btn btn-lg btn-primary", type="submit")}}
    <div class="form-check ml-2">
        {{form.remember_me(class="form-check-input")}}
        {{form.remember_me.label(class="form-check-label")}}
    </div>
    <small class="text-muted">
        <a href="{{url_for('reset_password')}}">Forgot password?</a>
    </small>
</main>
<div>
    <small class="border-top pt-3">
        Don't have an account? <a class="ml-2" href="{{url_for('register')}}">Sign Up</a>
    </small>
</div>

{%endblock%}